<div class="header1">
    <nav class='navbar'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' style="cursor: pointer;">MEDICAL INFO</a>
            </div>
            <div class='collapse navbar-collapse pull-right'>
                <ul class='nav navbar-nav'>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/home" *ngIf="isAuthenticated">HOME <span class='glyphicon glyphicon-home'></span></a>
                    </li>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/employeeForm" *ngIf="isAuthenticated">Employee Form</a></li>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/loginPage" *ngIf="!isAuthenticated">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
                    <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/loginPage" *ngIf="isAuthenticated" (click)="Onlogout()">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>