<div class='container'>
    <div class='row'>
        <label style="margin-left: 3rem;">Please Select Your city:</label>
        <div class='col-sm-12'>
            <form #select="ngForm" (ngSubmit)="onSelect(select)">
                <div class="col-sm-5">
                    <select class="form-control" name="cities" ngModel>
                        <option class='form-control' *ngFor="let cityDatas of cities" [ngValue]="cityDatas.id">{{ cityDatas.city }}</option>
                    </select>
                </div>
                <div class="col-sm-7">
                    <button class='btn btn-success' type="submit" routerLinkActive="router-link-active">Select</button>
                </div>
            </form>
        </div>
    </div>
</div>